<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../statics/styles/Perfil.css">
    <link rel="shortcut icon"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Escudo_enp_6.svg/927px-Escudo_enp_6.svg.png"
    type="image/x-icon">
</head>
<body>
<header>
    <figure>
        <img src="../statics/img/Ellipse 2.png" class="FotoPerf" alt="Foto de perfil del usuario">
    </figure>
    <nav>
        <button class="Perfilcomp">compartir</button>
        <button class="Perfiledit">editar perfil</button>
        <button class="Miscelapos">postres</button>
        <button class="Miscelades">desyuno</button>
        <button class="Miscelapap">Papeleria</button>
    </nav>
</header>

<main>
    <div class="Medio">
        <aside>
            <figure>
                <img class="Logo" src="../statics/img/Ellipse 2.png" alt="Logo de la Preparatoria">
            </figure>
            <nav>
                <button class="Botonesmenu">Notificaciones<img src=""></button>
                <button class="Botonesmenu">Mensajes<img src="" ></button>
                <button class="Botonesmenu">Calenadrio<img src=""></button>
                <button class="Botonesmenu">Mapa<img src=""></button>
            </nav>
        </aside>

        <section class="botonesmain">
            <button class="botonesmain">Productos</button>
            <button class="botonesmain">Q&A</button>
            <button class="botonesmain">#LOL</button>
            <button class="botonesmain">Agotados</button>
            <button class="botonesmain">En stock</button>
            <button class="botonesmain">Menciones</button>
        </section>

        <article class="Publicacion">

            <header class="Usuario">
                <figure>
                    <img class="Logo" src="../statics/img/Ellipse 2.png" alt="Foto de perfil del usuario">
                </figure>
                <h2>Usuario</h2>
                <h3>Articulo</h3>
            </header>

            <section class="Disponibilidad">
                <p id="Stock">En stock</p>
                <p id="Agotado">Agotado</p>
                <p id="Ultima">En ultimas</p>
                <p id="Momento">Al momento</p>
            </section>

            <section class="Contenido">
                <!-- Contenido del artículo -->
            </section>

            <footer>
                <input type="text" class="comentario" placeholder="Añade un comentario">
            </footer>
        </article>
    </div>
</main>
</body>
</html>
