<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../statics/styles/Perfil.CSS">
</head>
<body>
    <header>

        <img src="../statics/img/Ellipse 2.png" class="FotoPerf" alt="Foto de perfil">

        <div class="horarios">
            <p>Horarios</p>
        </div>
        <div class="horarioscom">
            <p>Horario completo</p>
        </div>

        <button class="Perfilcomp">compartir</button>
        <button class="Perfiledit">editar perfil</button>
        <button class="Miscelapos">postres</button>
        <button class="Miscelades">desyuno</button>
        <button class="Miscelapap">Papeleria</button>

    </header>
    <div class="Medio"> 
        <aside>

            <img class="Logo" src="../statics/img/Ellipse 2.png" alt="Prepa">
            <button class="Botonesmenu"><img src="" alt="Boton de notificación"></button>
            <button class="Botonesmenu"><img src="" alt="Boton de mensajes"></button>
            <button class="Botonesmenu"><img src="" alt="Boton de Calendario"></button>
            <button class="Botonesmenu"><img src="" alt="Boton de mapa"></button>

        </aside>
        <main>
            <section class="botonesmain">
                <button class="botonesmain">Productos</button>
                <button class="botonesmain">Q&A</button>
                <button class="botonesmain">#LOL</button>
                <button class="botonesmain">Agotados</button>
                <button class="botonesmain">En stock</button>
                <button class="botonesmain">Menciones</button>
            </section>

            <article class="Publicacion">

                <section class="Usuario">
                    <img class="Logo" src="../statics/img/Ellipse 2.png" alt="FotoPerf">
                    <p>Usuario </p>
                    <p>Articulo</p>
                </section>

                <section class="Disponibilidad">
                    <p id="Stock">En stock</p>
                    <p id="Agotado">Agotado</p>
                    <p id="Ultima">En ultimas</p>
                    <p id="Momento">Al momento</p>
                </section>

                <section class="Contenido">
                    
                </section>

                <input type="text" class="comentario"> 

            </article>

        </main>
    </div>
</body>
</html>