/* -------------------- Fuentes -------------------- */

/* Cuerpo */
@font-face {
    font-family: "Inter Regular";
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Medium";
    src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter-SemiBold.ttf");
}

/* Titulos */
@font-face {
    font-family: "Tommy Regular";
    src: url("../fonts/Tommy-Soft-Regular.ttf");
}

@font-face {
    font-family: "Tommy Medium";
    src: url("../fonts/Tommy-Soft-Medium.ttf");
}

@font-face {
    font-family: "Tommy Bold";
    src: url("../fonts/Tommy-Soft-Bold.ttf");
}



/* -------------------- Body -------------------- */

body {
    background-color: #3d3e61;
    background-image: url(../img/Login.png);
    background-position: center;
    background-size: 100% 100%;
    font-family: "Inter Medium";
    /* para que el footer se mantenga siempre abajo */
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /* font-family: Arial, Helvetica, sans-serif; */

    margin: 0%;

}

/* -------------------- Main -------------------- */

main.Registros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 40rem;
}

/* ---------- Cuadros de registros ---------- */

article.iniciosesion {
    background-color: #888787;
    color: white;

    justify-content: center;
    /* align-content: center; */
    flex-wrap: wrap;
    display: flex;

    border-radius: 30px;
    padding: 1rem;
    height: 28rem;
    width: 40rem;
}

article.Recordatorio {
    background-color: #888787;

    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

    border-radius: 5%;
    padding: 1rem;
    margin: 3rem;
    height: 30rem;
    width: 30rem;
}

article.Formulario {
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    display: flex;

    border-radius: 5%;
    padding: 1rem;
    margin: 3rem;
    height: 30rem;
    width: 30rem;
}

/* ---------- Botones ---------- */

/* Estos dos elementos necesitan revision */
button.Botexto {
    background-color: #ffffff;

    width: 15rem;
}

button.Botexto:active {
    background-color: #EED995;

    width: 15rem;
}

/*---------------------------------------- */

button.Roles {
    height: 2rem;
    width: 15rem;

}

button.boton-submit {
    font-family: "Tommy Bold";
    font-size: 22px;
    color: #4042a5;
    background-color: #D9D9D9;
    border-radius: 30px;
    border-width: 0px;
    height: 2rem;
    width: 15rem;
    margin: 20px;
}


/* -------------------- Footer --------------------- */

footer.Registros {
    display: flex;
    background-color: #bdbdbd;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    margin-top: auto;
    height: 10rem;
    padding: 2rem;

}

article.Avisolegal {
    position: relative;
    width: 70rem;
    padding: 1rem;
}



/* -------------------- Texto --------------------- */

#titulo-iniciosesion {
    font-family: "Tommy Medium";
    text-align: center;
    font-size: 52px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.titulo-s {
    font-family: "Tommy Medium";
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.texto-m {
    margin: 16px;
    opacity: 80%;
    border-width: 0px;
}

/* -------------------- Organizadores de texto --------------------- */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ---------- Inputs ----------- */

.input-datos {
    border-radius: 30px;
    border-width: 0px;
    width: 30rem;
    height: 35px;
    background-color: #D9D9D9;
    display: block
}

#remember-me {
    width: 25px;
    height: 25px;
}


/* ====================================== $Pantalla Reactiva ==================================*/

@media screen and (max-width: 982px)
{

    
    main.Registros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        height: 20rem;
        font-size:.7em;
        
    }
    

/* ---------- Cuadros de registros ---------- */

article.iniciosesion {
    background-color: #888787;
    color: white;

    justify-content: center;
    /* align-content: center; */
    flex-wrap: wrap;
    display: flex;

    border-radius: 30px;
    padding: 1rem;
    height: 17rem;
    width: 27rem;
}

article.Recordatorio {
    background-color: #888787;

    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

    border-radius: 5%;
    padding: 0.5rem;
    margin: 1.5rem;
    height: 15rem;
    width: 15rem;
}

article.Formulario {
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    display: flex;

    border-radius: 5%;
    padding: 0.5rem;
    margin: 1.5rem;
    height: 15rem;
    width: 15rem;
}


/* -------------------- Texto --------------------- */

#titulo-iniciosesion {
    font-family: "Tommy Medium";
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.titulo-s {
    font-family: "Tommy Medium";
    text-align: center;
    font-size: 27px;
    color: rgb(255, 255, 255);
}

.texto-m {
    margin: 8px;
    opacity: 80%;
    border-width: 0px;
}


/* ---------- Inputs ----------- */

.input-datos {
    border-radius: 15px;
    border-width: 0px;
    width: 15rem;
    height: 16px;
    background-color: #D9D9D9;
    display: block
}

#remember-me {
    width: 17px;
    height: 17px;
}

/* ---------- Botones ---------- */

/* Estos dos elementos necesitan revision */
button.Botexto {
    background-color: #ffffff;

    width: 7rem;
}

button.Botexto:active {
    background-color: #EED995;

    width: 7rem;
}

/*---------------------------------------- */

button.Roles {
    height: 1rem;
    width: 7rem;

}

button.boton-submit {
    font-family: "Tommy Bold";
    font-size: 17px;
    color: #4042a5;
    background-color: #D9D9D9;
    border-radius: 15px;
    border-width: 0px;
    height: 2rem;
    width: 7rem;
    margin: 10px;
}


/* -------------------- Footer --------------------- */
    
footer.Registros {
    display: flex;
    background-color: #bdbdbd;
    flex-direction: column;
    justify-content:baseline;
    align-content: center;
    flex-wrap: nowrap;
    margin-top: auto;
    height: 9rem;
    padding: 0.5rem;
}

article.Avisolegal {
    font-size: 0.7rem;
    width: 50rem;
    padding: 1rem;
    
}
}
