/* -------------------- Fuentes -------------------- */
@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("../fonts/Inter-Medium.ttf");
}
@font-face {
    font-family: "Tommy";
    font-weight: 400;
    src: url("../fonts/Tommy-Soft-Regular.ttf");
}
@font-face {
    font-family: "Tommy";
    font-weight: 500;
    src: url("../fonts/Tommy-Soft-Medium.ttf");
}
@font-face {
    font-family: "Tommy";
    font-weight: 700;
    src: url("../fonts/Tommy-Soft-Bold.ttf");
}

/* -------------------- Body -------------------- */
body {
    background-image: url(../img/Login.png);
    background-position: center;
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

/* -------------------- Main -------------------- */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 30px;
    box-sizing: border-box;
}

/* ---------- Cuadros de registros ---------- */
article.iniciosesion {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 60px;
    width: 400px;
    transition: transform 0.3s ease;
}
article.iniciosesion:hover {
    transform: scale(1.05);
}

/* ---------- Títulos y etiquetas ---------- */
#titulo-iniciosesion {
    font-family: "Tommy", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
.titulo-s, .texto-m {
    font-family: "Tommy", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
}

/* ---------- Inputs ----------- */
.input-datos {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Hace que cuente el ancho total */
}
.input-datos:focus {
    background-color: #e0e0f0;
    outline: none;
}
#remember-me {
    width: 25px;
    height: 25px;
}

/* ---------- Botones ---------- */
.row {
    display: flex;
    align-items: center; /* Esto alinea verticalmente a todos los elementos */
}
.boton-submit {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #4042a5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    box-sizing: border-box;
}
.boton-submit:hover {
    background-color: #5a6198;
}

/* -------------------- Footer -------------------- */
footer {
    display: flex;
    justify-content: space-around; /* Se distribuye el espacio alrededor de los elementos */
    background-color: rgba(255, 255, 255, 0.1);
    color: #D9D9D9;
    padding: 1rem;
    gap: 2rem; /* Espacio entre los elementos del contenedor */
}

/* ---------- Link de olvidaste tu contraseña ---------- */
article.iniciosesion a {
    display: block;
    text-align: center;
    color: #ffffff;

}

/* ============================ Responsividad ============================= */
@media screen and (min-width: 721px) {
    article.iniciosesion,
    article.Recordatorio,
    article.Formulario {
        font-size: 1.5rem; /* Aumenta el tamaño de fuente para resoluciones más grnades*/
    }
}

@media screen and (max-width: 720px) {
    body {
        font-size: 1rem; /* Tamaño de letra más pequeño si el ancho de la pantalla es menor a 720px */
    }
    footer {
        flex-direction: column; /* Se muestra en columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos en pantallas pequeñas */
        text-align: justify; /* Justifica el texto en pantallas pequeñas */
        gap: 1rem; /* Espacio entre los elementos del contenedor en pantallas pequeñas */
    }
}