/*---------------MAPA--------------*/

#mapa{
    height: 250px;
    width: 372.75px;
}

#mapaImg{
    height: 100%;
}

/*---------------PINES--------------*/

.pin{
    /* background-color: aqua; */
    fill:rgb(37, 26, 197);
    /* fill:rgb(255, 210, 46); */
    stroke: rgb(255, 255, 255);
    stroke-width: 20px;
    opacity: 80%;
    height: 35px;
    width: 35px;
    position: relative;
}

#pulpo{
    bottom: 97%; 
    left: 12%;
}

#p-quintos{
    bottom: 90%; 
    left: 10%;
}

#p-cuartos{
    bottom: 75%; 
    left: 4%;
}

#p-sextos{
    bottom: 60%; 
    right: 1%;
}

#canchas{
    bottom: 95%; 
    right: 9%;
}

#multicanchas{
    bottom: 90%; 
    left: 1%;
}

#pimpos{
    bottom: 70%; 
    right: 14%;
}

#hs{
    bottom: 63%; 
    right: 18%;
}

#auditorio{
    bottom: 45%; 
    right: 53%;
}

#biblioteca{
    bottom : 92%; 
    left : 45%;
}