/* -------------------- Fuentes -------------------- */
@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("../fonts/Inter-Medium.ttf");
}
@font-face {
    font-family: "Tommy";
    font-weight: 400;
    src: url("../fonts/Tommy-Soft-Regular.ttf");
}
@font-face {
    font-family: "Tommy";
    font-weight: 500;
    src: url("../fonts/Tommy-Soft-Medium.ttf");
}
@font-face {
    font-family: "Tommy";
    font-weight: 700;
    src: url("../fonts/Tommy-Soft-Bold.ttf");
}

/* -------------------- Body -------------------- */
body {
    background-color: #3d3e61;
    background-image: url(../img/Login.png);
    background-position: center;
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

hr {
    width: 91%;
}

/* -------------------- Main -------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 30px;
    box-sizing: border-box;
}

/* ---------- Registro Articles ---------- */
.registro-article {
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.registro-article:hover {
    transform: scale(1.05);
}

/* ---------- Títulos y etiquetas ---------- */
.registro-titulo {
    font-family: "Tommy", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}
#registro-desc {
    font-family: "Tommy", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

/* ---------- Select y Botón ----------- */
a.boton-submit, button.boton-submit {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #4042a5;
    justify-content: center;
    text-decoration: none; /* quita el subrayado de los enlaces */
    text-align: justify; /* centra el texto dentro del enlace */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    box-sizing: border-box;
}

a.boton-submit:hover,button.boton-submit:hover {
    background-color: #5a6198;
}

/* ============================ Responsividad ============================= */
@media screen and (min-width: 721px) {
    .registro-article {
        width: 50%; /* Disminuye el ancho del cuadro de registro para pantallas más grandes */
    }
}

@media screen and (max-width: 720px) {
    body {
        font-size: 0.8rem; /* Tamaño de letra más pequeño si el ancho de la pantalla es menor a 720px */
    }

    .registro-article {
        width: 90%; /* Ajusta el ancho del cuadro de registro para pantallas pequeñas */
        padding: 15px; /* Reduce el padding del cuadro de registro para pantallas pequeñas */
    }
}